# .gitignore
#
# This files contains a list of files and directories that should be excepted
# from version control. The reason for excluding files or directories is
# either because the files/directories contain large binary blobs such as
# videos or images that are not required to run the site, or because the files
# contain sensitive information such as passwords or salts.
# To override a directory-wide exception for certain files, prepend the
# filename with !, for example:
#
#	directory/*				# ignore all files in directory...
#	!directory/README		# except for README, which should be versioned.
#

# Directories to exclude
distribute/*
entertain_temp/*
cache/*
include/live_chat/*
tmp/*
kvitton/*
static/*
dynamic_content/*

# Files to exclude
traffa/gallery_content.html
include/message_bar_current.txt
.backupignore

# Configuration files
# NOTE: Keep BOTH constants.php! Even if one of them doesn't exist!
include/constants.php
include/core/constants.php

# Backups
hpback.tar
open_source/*.zip
