.profile_blue_flowers .profile_head
{
	background: url('http://images.hamsterpaj.net/profile_themes/blue_flowers/profile_head_bg.png');
	color: #fff;
}

.profile_blue_flowers .profile_head .name_asl
{
	color: #000;
}