#ui_content fieldset {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	font-size: 14px;
}

#ui_contentlabel {
	font-size: 0.8em;
	font-weight: bold;
}
	#ui_content	label strong {
		color: red;
	}
	
#ui_content input {
	padding: 3px;
}

#ui_content input, #ui_content textarea, #ui_content select {
	border: 1px solid #bbb;
	margin: 5px 0;
}

#ui_content .form {
	width: 100%;
	border-spacing: 0;
}
#ui_content .form td, #ui_content .form th {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}