
/* Forum modules */
#right_module_forum_spam ul, #right_module_forum_threads ul, #right_module_forum_posts ul, #right_module_open_source_forum_threads ul, #right_module_open_source_resources ul, #right_module_open_source_menu ul
{
	padding: 0px;
	list-style-type: none;
	margin: 0px;
}

#right_module_forum_spam ul a, #right_module_forum_threads ul a, #right_module_forum_posts ul a, #right_module_open_source_forum_threads ul a, #right_module_open_source_menu ul a
{
	border-bottom: none;
}

/* Visitors */
#right_module_profile_visitors ul
{
	margin: 0px;
	padding: 0px;
}

#right_module_profile_visitors li
{
	float: left;
	list-style-type: none;
	margin-right: 2px;
	border: 1px solid #ededed;
	padding: 2px;
	background: white;
}

#right_module_profile_visitors img
{
	width: 37px;
	height: 50px;
}

#right_module_profile_visitors a
{
	border: none;
}

#right_module_profile_visitors .show_more_link
{
	display: block;
	clear: both;
}

/* Advertisement */
#right_module_ad_1 ul, #right_module_ad_1 ul li
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#right_module_ad_1 ul li
{
	margin-bottom: 20px;
}

#right_module_ad_1 a
{
	border: none;
}

/* Open source - resources and menu */
#right_module_open_source_resources ul li, #right_module_open_source_menu ul li
{
	margin-bottom: 5px;
}

#right_module_open_source_resources ul li .highlighted, #right_module_open_source_menu ul li .highlighted
{
	font-weight: bold;
}