.rounded_corners
{
	margin-top: 0;
	margin-bottom: 5px;
	padding: 0;
}
	.rounded_corners .top {
		padding: 0;
		margin: 0;
	}
	.rounded_corners .content {
		padding: 5px;
		margin: 0;
	}
	.rounded_corners .bottom {
		padding: 0;
		margin: 0;
	}


.rounded_corners_blue_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_blue_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_full_top.png) no-repeat top;
	}
	.rounded_corners_blue_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_full_bottom.png) no-repeat bottom;
	}

.rounded_corners_blue_deluxe_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_deluxe_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_blue_deluxe_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_deluxe_full_top.png) no-repeat top;
	}
	.rounded_corners_blue_deluxe_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/blue_deluxe_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_red_alert_deluxe_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_alert_deluxe_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_red_alert_deluxe_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_alert_deluxe_full_top.png) no-repeat top;
	}
	.rounded_corners_red_alert_deluxe_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_alert_deluxe_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_white_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/white_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_white_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/white_full_top.png) no-repeat top;
	}
	.rounded_corners_white_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/white_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_orange_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_orange_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_full_top.png) no-repeat top;
	}
	.rounded_corners_orange_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_orange_deluxe_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_deluxe_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_orange_deluxe_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_deluxe_full_top.png) no-repeat top;
	}
	.rounded_corners_orange_deluxe_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/orange_deluxe_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_green_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/green_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_green_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/green_full_top.png) no-repeat top;
	}
	.rounded_corners_green_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/green_full_bottom.png) no-repeat bottom;
	}
	
.rounded_corners_red_full {
	background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_full_repeat.png) repeat-y;
	width: 638px;
}
	.rounded_corners_red_full .top {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_full_top.png) no-repeat top;
	}
	.rounded_corners_red_full .bottom {
		background: url(http://images.hamsterpaj.net/css_backgrounds/rounded_corners/red_full_bottom.png) no-repeat bottom;
	}