/*
	################################################################
	START
	This is great hack of southern khazakstan to make hilarious 
	round corners!
	################################################################
*/
.corners, #corners {
	behavior: url('/border-radius.htc');
}
/*
	################################################################
	END
	################################################################
*/

.grey_faded_div
{
	width: 628px;
	padding: 2px;
	margin: 4px;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/grey_fade.png') repeat-x;
}

.blue_faded_div
{
	width: 628px;
	padding: 2px;
	margin: 4px;
  margin-left: 0px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/blue_fade.png') repeat-x;
}

.pink_faded_div
{
	width: 628px;
	margin: 4px;
	padding: 2px;
 	margin-left: 0px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/pink_fade.png') repeat-x;
}

.orange_faded_div
{
	width: 628px;
	margin: 4px;
	margin-left: 0px;
	padding: 2px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/orange_fade.png') repeat-x;
}

.red_faded_div
{
	width: 628px;
	margin: 4px;
	margin-left: 0px;
	padding: 2px;
	border: 1px solid #CCCCCC;
	background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/red_fade.png') repeat-x;
}

.green_faded_div
{
  width: 628px;
  margin: 4px;
  margin-left: 0px;
  padding: 2px;
  border: 1px solid #CCCCCC;
  background: #F7F7F7 url('http://images.hamsterpaj.net/images/div_fades/green_fade.png') repeat-x;
}

.droptitle
{
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.droptitletext
{
  float:left;
	cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}
.dropimage
{
  float: right;
  cursor: pointer;
}
.user_label_idle
{
	color: black;
}
.user_label_online
{
	font-weight: bold;
	color: #4ba71e;
}


.tips /*.notification should be used */
{
	background: #fffbc9 url('http://images.hamsterpaj.net/common_icons/tips_light_bulb.png') no-repeat 5px 5px;
	border: 1px solid #f0dca1;
	color: #7b4b09;
	padding: 3px;
	padding-left: 55px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.notification, .warning, .error, .system_error
{
	-moz-border-radius: 5px;
	padding: 3px;
	padding-left: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 60px;
}

.notification .server_message_collapsed_information
{
	display: none;
}

.notification
{
	background: #fffbc9 url('http://images.hamsterpaj.net/common_icons/tips_light_bulb.png') no-repeat 5px 5px;
	border: 1px solid #f0dca1;
}

.warning
{
	background: #ffff99 url('http://images.hamsterpaj.net/common_icons/warning_sign.png') no-repeat 5px 5px;
	border: 1px solid #facd00;
}

.error
{
	background: #FFE3E0 url('http://images.hamsterpaj.net/common_icons/error_sign.png') no-repeat 5px 5px;
	border: 1px solid #DC6E66;
}

.system_error
{
	background: #FF6666 url('http://images.hamsterpaj.net/common_icons/error_sign.png') no-repeat 5px 5px;
	border: 1px solid #FF1A1A;
}

.warning h2, .notification h2, .error h2, .system_error h2
{
	font-size: 17px;
	font-weight: normal;
	margin: 3px 3px 3px 0;
}

.warning p, .notification p, .error p, .system_error p
{
	font-size: 11px;
}


/* Never version */
.server_message_notification, .server_message_warning, .server_message_error, .server_message_system_error
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3px;
	padding-left: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 60px;
}

 .server_message_collapsed_information
{
	display: none;
}

.server_message_collapsed_information
{
	padding: 1px 0 1px 0;
}

.server_message_notification
{
	background: #fffbc9 url('http://images.hamsterpaj.net/common_icons/tips_light_bulb.png') no-repeat 5px 5px;
	border: 1px solid #f0dca1;
}

.server_message_warning
{
	background: #ffff99 url('http://images.hamsterpaj.net/common_icons/warning_sign.png') no-repeat 5px 5px;
	border: 1px solid #facd00;
}

.server_message_error
{
	background: #FFE3E0 url('http://images.hamsterpaj.net/common_icons/error_sign.png') no-repeat 5px 5px;
	border: 1px solid #DC6E66;
}

.server_message_system_error
{
	background: #FF6666 url('http://images.hamsterpaj.net/common_icons/error_sign.png') no-repeat 5px 5px;
	border: 1px solid #FF1A1A;
}

.server_message_warning h2, .server_message_notification h2, .server_message_error h2, .server_message_system_error h2
{
	font-size: 17px;
	font-weight: normal;
	margin: 3px 3px 3px 0;
}

.server_message_warning p, .server_message_notification p, .server_message_error p, .server_message_system_error p
{
	font-size: 11px;
}

.server_message_collapse_header
{
	font-size: 11px;
	font-weight: normal;
	border: none;
	text-decoration: underline;
	cursor: pointer;
}
