.shop_rounded_corners_dark
{
	background: #ffbb18 url('http://images.hamsterpaj.net/shop/rounded_corners_dark_top_left.png') top left no-repeat;
}
	.shop_rounded_corners_dark > div
	{
			background: url('http://images.hamsterpaj.net/shop/rounded_corners_dark_top_right.png') top right no-repeat;
	}
	.shop_rounded_corners_dark > div > div
	{
			background: url('http://images.hamsterpaj.net/shop/rounded_corners_dark_bottom_left.png') bottom left no-repeat;
	}
	.shop_rounded_corners_dark  > div > div > div
	{
			background: url('http://images.hamsterpaj.net/shop/rounded_corners_dark_bottom_right.png') bottom right no-repeat;
	}
	
.shop_rounded_corners_bright
{
	background: #fdebbf url('http://images.hamsterpaj.net/shop/rounded_corners_bright_top_left.png') top left no-repeat;
}
	.shop_rounded_corners_bright > div
	{
			background: url('http://images.hamsterpaj.net/shop/rounded_corners_bright_top_right.png') top right no-repeat;
	}
	.shop_rounded_corners_bright > div > div
	{
			background: url('http://images.hamsterpaj.net/shop/rounded_corners_bright_bottom_left.png') bottom left no-repeat;
	}
	.shop_rounded_corners_bright  > div > div > div
	{
			background: url('http://images.hamsterpaj.net/shop/rounded_corners_bright_bottom_right.png') bottom right no-repeat;
	}
	
#boys
{
	float: left;
	width: 314px;
	height: 314px;
}

#boys .shop_rounded_corners_dark > div > div > div
{
	height: 314px;
}

#girls
{
	float: right;
	width: 314px;
	height: 314px;
}

#girls .shop_rounded_corners_dark > div > div > div 
{
	height: 314px;
}