#ui_module_multisearch .ui_module_header {
  display: none;
}

#ui_module_multisearch .ui_module_content {
  padding: 0.7em;
}

#ui_modulebar #ui_module_multisearch {
  background: #d5e3ff;
}

#ui_multisearch {
	-moz-border-radius: 5px;
	border: 1px #fff;
}

#ui_multisearch	{
	padding: 3px;
	width: 155px;
}